@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<div>
    @if (HttpContextAccessor.HttpContext.Session.GetString("Success") != null)
    {
        <div class="alert alert-success" role="alert">
            <i class="fas fa-bullhorn"></i>&nbsp;&nbsp; Information : &nbsp;&nbsp; <span> @HttpContextAccessor.HttpContext.Session.GetString("Success") </span>
        </div>
        Context.Session.Remove("Success");
    }
    @if (HttpContextAccessor.HttpContext.Session.GetString("Warning") != null)
    {
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-bullhorn"></i>&nbsp;&nbsp; Warning : &nbsp;&nbsp; <span> @HttpContextAccessor.HttpContext.Session.GetString("Warning") </span>
        </div>
        Context.Session.Remove("Warning");
    }
    @if (HttpContextAccessor.HttpContext.Session.GetString("Error") != null)
    {
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-bullhorn"></i>&nbsp;&nbsp; Error : &nbsp;&nbsp; <span> @HttpContextAccessor.HttpContext.Session.GetString("Error") </span>
        </div>
        Context.Session.Remove("Error");
    }
</div>
