@{
    ViewData["Title"] = "Agriculture -";
}


<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="/images/course_bg.jpg">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Agriculture</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Academics</a></li>
                    <li class="breadcrumb-item active">Agriculture</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION EVENT DETAIL -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single_course">
                    <div class="course_info">
                        <div class="course_desc">
                            <div class="heading_s1">
                                <h4>Description:</h4>
                            </div>
                            <p>
                                Agriculture is the backbone of our country's economy. A large number of population of Nepal depends on agriculture for their survival. Agriculture has been at the center of human civilization since civilization began, and it remains at the heart of many of the most pressing issues for modern societies. In the context of Nepal, although most of the people are dependent on agriculture, it lacks educated and qualified people working in this field. And this is one of the main causes of poor agricultural results in our country.
                            </p>
                            <p>
                                There is need of skilled manpower with technical knowledge and higher degrees in the agriculture sector. Agriculture intersects with several fields like poverty, famine, development economics, genetic modification, environmental sustainability, disease epidemics, and agricultural scholars are involved in research and development work in all these fields.
                            </p>
                            <p>
                                Careers in agriculture can make up one of the largest industries and sources of long-term employment in Nepal. Scholars perusing agriculture have ample job opportunities in the government as well as private sector. The degree Diploma in Agriculture equips students with the knowledge and skills that will help them to conduct simple research works in agricultural field, conduct field surveys and manage different areas of farming practices.
                            </p>
                            <p>
                                A degree in agriculture gives the students the knowledge and skills needed to manage agricultural and farm businesses, or to work in areas such as agricultural sales, food production and farming. Moreover, an individual with higher degree in this field can work as an agricultural consultant, estates manager, farm manager, plant breeder/geneticist, soil scientist, rural practice surveyor and so on.
                            </p>
                        </div>
                        <div class="course_curriculum">
                            <div class="heading_s1">
                                <h4>Course curriculum for Agriculture:</h4>
                            </div>
                            <p>
                                The course will make students understand the various aspects of agriculture science and enrich skills in using modern equipment, tools and techniques associated with agriculture. Moreover, it will motivate students for involving them in lifelong agricultural practices and further study and research in this field, and linking agriculture with economic development of the country.
                            </p>
                            <p>
                                The institute offers the following courses under Diploma in Agriculture:
                            </p>
                            <div id="accordion" class="accordion accordion_style1">
                                <div class="card">
                                    <div class="card-header" id="heading-1-One">
                                        <h6 class="mb-0"> <a data-toggle="collapse" href="#collapse-1-One" aria-expanded="true" aria-controls="collapse-1-One">How To Use Wordpress?</a></h6>
                                    </div>
                                    <div id="collapse-1-One" class="collapse show" aria-labelledby="heading-1-One" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem Ipsu. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading-1-Two">
                                        <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse-1-Two" aria-expanded="false" aria-controls="collapse-1-Two">Installation and Set-Up Guide?</a> </h6>
                                    </div>
                                    <div id="collapse-1-Two" class="collapse" aria-labelledby="heading-1-Two" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem Ipsu. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading-1-Three">
                                        <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse-1-Three" aria-expanded="false" aria-controls="collapse-1-Three">Took a galley of type unknown printer?</a> </h6>
                                    </div>
                                    <div id="collapse-1-Three" class="collapse" aria-labelledby="heading-1-Three" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem Ipsu. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="instructors_wrap">
                            <div class="heading_s1">
                                <h4>Our Instructors:</h4>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="author_wrap">
                                        <div class="author_img">
                                            <img src="/images/instructors_img.jpg" alt="instructors_img">
                                        </div>
                                        <div class="author_info">
                                            <h6 class="author_name"><a href="#" class="d-inline-block">Lissa Castro</a></h6>
                                            <span class="text_default mb-2 d-block">Professor</span>
                                            <ul class="social_icons">
                                                <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                                <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                                <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                                <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="autor_desc">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION EVENT DETAIL -->
