@{
    ViewData["Title"] = "Background -";
}

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="/images/blog_bg.jpg">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Background</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Background</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION BLOG -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>The polytechnic institute has been named after the two martyrs of Nepali political movement Bishnu Kumar Pokharel and Dhani Ram Tharu, both of whom belonged to the present Barbardiya Municipality of Bardiya. The establishment of the institute is also a tribute paid to those great personalities who devoted their entire life for bringing long-term political changes in the country through the development of political awareness among people.</p>

                <div class="row">
                    <div class="col-md-6">
                        <div class="single_img">
                            <img class="w-100 mb-3 mb-md-4" src="/images/blog_single_img1.jpg" alt="blog_single_img1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 mb-md-4">
                            <p>Bishnu Kumar Pokharel, born on 2nd Chaitra, 2007 BS, was interested in literary writing and philosophy from his childhood. He was always ready to help the needy people. Bishnu Kumar Pokharel, who not only started taking part in various progressive political activities but also started providing leadership to several political movements from very early stage of his student life. He also made a significant contribution to the field of education in the local level. Bishnu Kumar Pokharel is also found to have fought against the oppressions made by the landlords to the Kamaiya (bonded labourers). As an active leader of the Communist Party of Nepal (Maoist), he was shot dead by the then government on 28 Jestha, 2055 BS at the place called Ranijaruwa in the local jungle.</p>
                        </div>
                    </div>
                </div>
                <p>Dhani Ram Tharu, born on 8 Shrawan, 2020 BS, in the village Banghushri of present Barbardiya Municipality, Ward No. 5, Bardiya District, was a good student and had a keen interest in sports, social works and politics from his childhood. He is found to have helped the people of his locality to solve and settle several social and economic disputes. Dhani Ram Tharu entered into active politics when he was in class seven by working against the exploitation and oppression made by the local landlords to the poor people and the Kamaiya. He became a political activist when he took part in the popular 'Thumni Revolution' held in 2036 BS. Later, Dhani Ram joined the Communist Party of Nepal (Maoist) which had started an underground armed revolution, and was shot dead by the then government on 28 Jestha, 2055 BS at the place called Ranijaruwa in the local jungle.</p>

            </div>
        </div>
    </div>
</div>
<!-- END SECTION BLOG -->
