@{
    ViewData["Title"] = "Forestry -";
}


<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="/images/course_bg.jpg">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Forestry</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Academics</a></li>
                    <li class="breadcrumb-item active">Forestry</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION EVENT DETAIL -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single_course">
                    <div class="course_info">
                        <div class="course_desc">
                            <div class="heading_s1">
                                <h4>Description:</h4>
                            </div>
                            <p>Forests are the most significant part of natural resources. Specially, the forests are our greatest property as the Nepali saying goes, "Hariyo ban, Nepal ko dhan". Forestry is the science of planting, managing, maintaining as well as conversing forests and its related resources. Due to the careless cut down of trees, gradual disappearance of forests and competing demands on the resources, the field of forestry has a good potential for employment in the coming years. They can find jobs at places such as educational institutions, forest service companies, food companies, biotechnology firms, plant health inspection service companies, biological supply houses and so on.</p>
                            <p>
                                A scholar specialized in forestry is primarily concerned with the protection of forests which contributes to the environmental conservation too. He/she is involved in many activities such as protection of natural resources, ecological restoration, timber harvesting and so on. The course of forestry enables the individual to develop forest management plans, select sites for growing new trees and plants and supervise forestry projects.
                            </p>
                        </div>
                        <div class="course_curriculum">
                            <div class="heading_s1">
                                <h4>Course curriculum for Forestry:</h4>
                            </div>
                            <p>
                                Global warming is the biggest environmental challenge in today's world and forestry education is one of the best tools to fight this challenge. Forestry course will help the students to understand forest ecology, concepts, and factors affecting them. Moreover, it will enable to be familiar with and identify common and invasive tree pests and diseases and also the associated control methods. They will also understand how forest health and management affect biodiversity, global warming, and forest fragmentation. The course will create awareness among the students about the importance and value of trees in urban and community settings, and why trees and forests are important to human health, recreation, wildlife, and watershed quality.
                            </p>
                            <p>
                                The institute offers the following courses under Diploma in Forestry:
                            </p>
                            <div id="accordion" class="accordion accordion_style1">
                                <div class="card">
                                    <div class="card-header" id="heading-1-One">
                                        <h6 class="mb-0"> <a data-toggle="collapse" href="#collapse-1-One" aria-expanded="true" aria-controls="collapse-1-One">How To Use Wordpress?</a></h6>
                                    </div>
                                    <div id="collapse-1-One" class="collapse show" aria-labelledby="heading-1-One" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem Ipsu. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading-1-Two">
                                        <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse-1-Two" aria-expanded="false" aria-controls="collapse-1-Two">Installation and Set-Up Guide?</a> </h6>
                                    </div>
                                    <div id="collapse-1-Two" class="collapse" aria-labelledby="heading-1-Two" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem Ipsu. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading-1-Three">
                                        <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapse-1-Three" aria-expanded="false" aria-controls="collapse-1-Three">Took a galley of type unknown printer?</a> </h6>
                                    </div>
                                    <div id="collapse-1-Three" class="collapse" aria-labelledby="heading-1-Three" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem Ipsu. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="instructors_wrap">
                            <div class="heading_s1">
                                <h4>Our Instructors:</h4>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="author_wrap">
                                        <div class="author_img">
                                            <img src="/images/instructors_img.jpg" alt="instructors_img">
                                        </div>
                                        <div class="author_info">
                                            <h6 class="author_name"><a href="#" class="d-inline-block">Lissa Castro</a></h6>
                                            <span class="text_default mb-2 d-block">Professor</span>
                                            <ul class="social_icons">
                                                <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                                <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                                <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                                <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="autor_desc">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION EVENT DETAIL -->
