<!-- START SECTION BANNER -->
<div class="banner_section full_screen staggered-animation-wrap">
    <div id="carouselExampleControls" class="carousel slide carousel-fade carousel_style1 light_arrow"
         data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg overlay_bg_60" data-img-src="/images/banner7.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                                <div class="banner_content text_white">
                                    <h2 class="staggered-animation" data-animation="fadeInUp"
                                        data-animation-delay="0.2s">
                                        Educating the nation
                                    </h2>
                                    <p class="staggered-animation" data-animation="fadeInUp"
                                       data-animation-delay="0.4s">
                                        If you are going to use a passage of Lorem
                                        Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        middle of text.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_60" data-img-src="/images/banner8.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                                <div class="banner_content text_white">
                                    <h2 class="staggered-animation" data-animation="fadeInUp"
                                        data-animation-delay="0.2s">
                                        Start learning for success future
                                    </h2>
                                    <p class="staggered-animation" data-animation="fadeInUp"
                                       data-animation-delay="0.4s">
                                        If you are going to use a passage of Lorem
                                        Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        middle of text.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_60" data-img-src="/images/banner9.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                                <div class="banner_content text_white">
                                    <h2 class="staggered-animation" data-animation="fadeInUp"
                                        data-animation-delay="0.2s">
                                        best way to learn is to experiment
                                    </h2>
                                    <p class="staggered-animation" data-animation="fadeInUp"
                                       data-animation-delay="0.4s">
                                        If you are going to use a passage of Lorem
                                        Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        middle of text.
                                    </p>
                                    <a class="btn btn-default btn-radius staggered-animation" href="#"
                                       data-animation="fadeInUp" data-animation-delay="0.6s">Get Started</a>
                                    <a class="btn btn-white btn-radius staggered-animation" href="#"
                                       data-animation="fadeInUp" data-animation-delay="0.6s">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="ion-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="ion-chevron-right"></i>
        </a>
    </div>
</div>
<!-- END SECTION BANNER -->
<!-- START SECTION ABOUT -->
<div class="section background_bg bg_blue fixed_bg" data-img-src="/images/pattern_bg1.png">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_img animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <img src="~/images/about_img.jpg" alt="about_img">
                </div>
            </div>
            <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="about_section">
                    <div class="heading_s1 heading_light">
                        <h2>about our institute</h2>
                    </div>
                    <p class="text-white">
                        Shahid Bishnu Dhani Memorial Polytechnic Institute is a newly established educational institution which primarily attempts to contribute to the development of the country through the production of skilled and semi-skilled human resources. The maximum and appropriate use of natural resources depends on the availability of human resources. Although with abundant natural means and resources, Nepal is still an under-developed country owing to the paucity of human resources.
                    </p>
                    <a class="btn btn-tran-light btn-radius" asp-area="" asp-controller="Home" asp-action="About">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION ABOUT -->

<!-- START SECTION COURSES-->
<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="heading_s1 text-center">
                    <h2>Academics</h2>
                </div>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="courses_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp"
                     data-animation-delay="0.2s">
                    <div class="courses_img">
                        <a href="#"><img src="~/images/course_img1.jpg" alt="course_img1"></a>
                    </div>
                    <div class="courses_info">
                        <h5 class="courses_title"><a href="#">Forestry</a></h5>
                        <p class="text-dark">
                            Forests are the most significant part of natural resources. Specially, the forests are our greatest property as the Nepali saying goes, "Hariyo ban, Nepal ko dhan".
                        </p>
                        <a class="btn btn-dark btn-radius" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="courses_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp"
                     data-animation-delay="0.3s">
                    <div class="courses_img">
                        <a href="#"><img src="~/images/course_img2.jpg" alt="course_img2"></a>
                    </div>
                    <div class="courses_info">
                        <h5 class="courses_title"><a href="#">Agriculture</a></h5>
                        <p class="text-dark">
                            A degree in agriculture gives the students the knowledge and skills needed to manage agricultural and farm businesses, or to work in areas such as agricultural sales, food production and farming.
                        </p>
                        <a class="btn btn-dark btn-radius" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION CLASSES-->
