<!-- START SECTION BANNER -->
<div class="banner_section full_screen staggered-animation-wrap">
    <div id="carouselExampleControls" class="carousel slide carousel-fade carousel_style1 light_arrow"
         data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg overlay_bg_60" data-img-src="/images/banner7.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                                <div class="banner_content text_white">
                                    <h2 class="staggered-animation" data-animation="fadeInUp"
                                        data-animation-delay="0.2s">
                                        Educating the nation
                                    </h2>
                                    <p class="staggered-animation" data-animation="fadeInUp"
                                       data-animation-delay="0.4s">
                                        If you are going to use a passage of Lorem
                                        Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        middle of text.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_60" data-img-src="/images/banner8.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                                <div class="banner_content text_white">
                                    <h2 class="staggered-animation" data-animation="fadeInUp"
                                        data-animation-delay="0.2s">
                                        Start learning for success future
                                    </h2>
                                    <p class="staggered-animation" data-animation="fadeInUp"
                                       data-animation-delay="0.4s">
                                        If you are going to use a passage of Lorem
                                        Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        middle of text.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_60" data-img-src="/images/banner9.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-12 col-sm-12 text-center">
                                <div class="banner_content text_white">
                                    <h2 class="staggered-animation" data-animation="fadeInUp"
                                        data-animation-delay="0.2s">
                                        best way to learn is to experiment
                                    </h2>
                                    <p class="staggered-animation" data-animation="fadeInUp"
                                       data-animation-delay="0.4s">
                                        If you are going to use a passage of Lorem
                                        Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        middle of text.
                                    </p>
                                    <a class="btn btn-default btn-radius staggered-animation" href="#"
                                       data-animation="fadeInUp" data-animation-delay="0.6s">Get Started</a>
                                    <a class="btn btn-white btn-radius staggered-animation" href="#"
                                       data-animation="fadeInUp" data-animation-delay="0.6s">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="ion-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="ion-chevron-right"></i>
        </a>
    </div>
</div>
<!-- END SECTION BANNER -->
<!-- START SECTION ABOUT -->
<div class="section background_bg bg_blue fixed_bg" data-img-src="/images/pattern_bg1.png">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_img animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <img src="~/images/about_img.jpg" alt="about_img">
                </div>
            </div>
            <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="about_section">
                    <div class="heading_s1 heading_light">
                        <h2>about our institute</h2>
                    </div>
                    <p class="text-white">
                        Shahid Bishnu Dhani Memorial Polytechnic Institute is a newly established educational institution which primarily attempts to contribute to the development of the country through the production of skilled and semi-skilled human resources. The maximum and appropriate use of natural resources depends on the availability of human resources. Although with abundant natural means and resources, Nepal is still an under-developed country owing to the paucity of human resources.
                    </p>
                    <a class="btn btn-tran-light btn-radius" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION ABOUT -->
<!-- START SECTION COURSES-->
<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="heading_s1 text-center">
                    <h2>Our Courses</h2>
                </div>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="courses_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp"
                     data-animation-delay="0.2s">
                    <div class="courses_img">
                        <a href="#"><img src="~/images/course_img1.jpg" alt="course_img1"></a>
                    </div>
                    <div class="courses_info">
                        <h5 class="courses_title"><a href="#">Forestry</a></h5>
                        <p class="text-dark">
                            Forests are the most significant part of natural resources. Specially, the forests are our greatest property as the Nepali saying goes, "Hariyo ban, Nepal ko dhan".
                        </p>
                        <a class="btn btn-dark btn-radius" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="courses_box radius_all_10 box_shadow1 animation" data-animation="fadeInUp"
                     data-animation-delay="0.3s">
                    <div class="courses_img">
                        <a href="#"><img src="~/images/course_img2.jpg" alt="course_img2"></a>
                    </div>
                    <div class="courses_info">
                        <h5 class="courses_title"><a href="#">Agriculture</a></h5>
                        <p class="text-dark">
                            A degree in agriculture gives the students the knowledge and skills needed to manage agricultural and farm businesses, or to work in areas such as agricultural sales, food production and farming.
                        </p>
                        <a class="btn btn-dark btn-radius" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION CLASSES-->
<!-- START SECTION TEAM -->
<div class="section pb_70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="heading_s1 text-center">
                    <h2>Our Team Members</h2>
                </div>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="team_box team_style1 radius_all_10">
                    <div class="team_img">
                        <img src="~/images/team_img1.jpg" alt="team_img1">
                        <ul class="social_icons social_style4 rounded_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Anders Stone</h5>
                            <span>Professor</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                <div class="team_box team_style1 radius_all_10">
                    <div class="team_img">
                        <img src="~/images/team_img2.jpg" alt="team_img2">
                        <ul class="social_icons social_style4 rounded_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Laura Martin</h5>
                            <span>Accounting</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                <div class="team_box team_style1 radius_all_10">
                    <div class="team_img">
                        <img src="~/images/team_img3.jpg" alt="team_img3">
                        <ul class="social_icons social_style4 rounded_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Adam Smith</h5>
                            <span>Ceo & Architer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                <div class="team_box team_style1 radius_all_10">
                    <div class="team_img">
                        <img src="~/images/team_img4.jpg" alt="team_img4">
                        <ul class="social_icons social_style4 rounded_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Bruce Flores</h5>
                            <span>Accounting</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION TEAM -->
<!-- START SECTION TESTIMONIAL -->
<div class="section overlay_bg_80 parallax_bg" data-parallax-bg-image="/images/cta_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="heading_s1 text-center">
                    <h2 class="text-light">Our Students Say!</h2>
                </div>
                <p class="text-center text-light">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="testimonial_slider testimonial_style1 carousel_slider owl-carousel owl-theme nav_style1"
                     data-nav="true" data-dots="false" data-margin="20" data-loop="true" data-autoplay="true"
                     data-responsive='{"0":{"items": "1"}, "767":{"items": "2"}, "1199":{"items": "3"}}'>
                    <div class="testimonial_box radius_all_10">
                        <div class="author_info">
                            <div class="author_img">
                                <img src="~/images/testi_user1.jpg" alt="user">
                            </div>
                            <div class="author_name">
                                <h6>Richard Clark</h6>
                                <span>CEO HR Group</span>
                            </div>
                        </div>
                        <div class="testimonial_desc">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error voluptatem laudantium, quaeillo
                                inventore sed veritatis architecto beatae vitae dicta sunt explicabo eiusmod tempor
                                labore which pain can some pleasure.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial_box radius_all_10">
                        <div class="author_info">
                            <div class="author_img">
                                <img src="~/images/testi_user2.jpg" alt="user">
                            </div>
                            <div class="author_name">
                                <h6>Daisy Lana</h6>
                                <span>Designer</span>
                            </div>
                        </div>
                        <div class="testimonial_desc">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error voluptatem laudantium, quaeillo
                                inventore sed veritatis architecto beatae vitae dicta sunt explicabo eiusmod tempor
                                labore which pain can some pleasure.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial_box radius_all_10">
                        <div class="author_info">
                            <div class="author_img">
                                <img src="~/images/testi_user3.jpg" alt="user">
                            </div>
                            <div class="author_name">
                                <h6>Alden Smith</h6>
                                <span>Designer</span>
                            </div>
                        </div>
                        <div class="testimonial_desc">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error voluptatem laudantium, quaeillo
                                inventore sed veritatis architecto beatae vitae dicta sunt explicabo eiusmod tempor
                                labore which pain can some pleasure.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial_box radius_all_10">
                        <div class="author_info">
                            <div class="author_img">
                                <img src="~/images/testi_user4.jpg" alt="user">
                            </div>
                            <div class="author_name">
                                <h6>John Becker</h6>
                                <span>Designer</span>
                            </div>
                        </div>
                        <div class="testimonial_desc">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error voluptatem laudantium, quaeillo
                                inventore sed veritatis architecto beatae vitae dicta sunt explicabo eiusmod tempor
                                labore which pain can some pleasure.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION TESTIMONIAL -->
<!-- START SECTION WHY CHOOSE -->
<div class="section bg_light_blue">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="icon_box icon_box_style1 box_shadow1 text-center">
                    <div class="icon ibc_orange">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>The salient features of <br /> Shahid Bishnu Dhani Polytechnic Institute</h5>
                        <div class="align-items-center">
                            <ul class="text-left">
                                <li>Situated in the peaceful area away from the noise of the city</li>
                                <li>Well ventilated and echo free classrooms with comfortable seating arrangement</li>
                                <li>E-library and 24/7 internet facilities</li>
                                <li>Highly motivated teachers and professional faculties</li>
                                <li>Well-equipped multidisciplinary laboratory</li>
                                <li>Availability of enough land for practical activities</li>
                                <li>Good coordination with different governmental and non-governmental organizations and agencies</li>
                                <li>Inter-college student exchange programme with different forestry and agricultural colleges of Nepal</li>
                                <li>Publication of periodic general and research journals</li>
                                <li>Provision of project works, work experience programmes, etc. for integrating the theoretical course with real life experience</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION WHY CHOOSE -->