@model College.Model.DataTransferObject.ImportantLinksDto.ImportantLinksModelDto
@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewData["Title"] = " Add Important Link -";
}
@(await Html.PartialAsync("~/Views/Shared/_AlertLayout.cshtml"))
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>
                Create New Feature
                <a asp-controller="WebSite" asp-action="Footer" class="btn btn-primary btn-sm text-light" style="float: right;">
                    <i class="fas fa-arrow-left"></i>  Back to footer
                </a>
            </h5>
        </div>
        <div class="card-body card-block">
            <form asp-action="LinkItemCreate" asp-controller="WebSite" method="post" asp-antiforgery="true">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                        <span>Please correct the following errors</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="au-input au-input--full" type="text" required />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label asp-for="Link"></label>
                            <input asp-for="Link" class="au-input au-input--full" type="url" required />
                            <span asp-validation-for="Link" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-actions form-group">
                    <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-rocket"></i> Add</button>
                    <button class="btn btn-danger btn-sm" type="reset"><i class="fas fa-trash"></i> Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}