@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Licensing -";
    var baseUrl = Url.ActionContext.HttpContext.Request.Scheme + "://" + Url.ActionContext.HttpContext.Request.Host;
    var license = HttpContextAccessor.HttpContext.Session.GetInt32("_LicenseSet");
    if (license != null)
    {
        if (license == 1)
        {
            var url = baseUrl + "/Login".Replace(@"\", "/");
            HttpContextAccessor.HttpContext.Response.Redirect(url);
        }
    }
}
<div class="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-content--bge5">
                <div class="container container-fluid">
                    <div class="login-wrap">
                        @(await Html.PartialAsync("~/Views/Shared/_AlertLayout.cshtml"))
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="https://codeappstore.com/">
                                    <img src="https://codeappstore.com/icons/favicon_Dark/android-chrome-512x512.png" style="height: auto; width: 50%;"/>
                                </a>
                            </div>
                            <div class="text-center">
                                <h3>Support Team</h3>
                                <p>
                                    Email : dibeshrsubedi@gmail.com, dibesh@codeappstore.com
                                    BCC : cullaapar@gmail.com, apaar@codeappstore.com
                                </p>
                                <p>
                                    Contact : 9861315234, 9823113741
                                </p>
                            </div>
                            <div class="login-form m-t-50">
                                <form asp-controller="Login" asp-action="License" method="post" asp-antiforgery="true">

                                    <div asp-validation-summary="ModelOnly" class="text-danger">
                                        <span>Please correct the following errors</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="license"></label>
                                        <input for="license" id="license" name="license" class="au-input au-input--full" type="text" required/>
                                    </div>

                                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Proceed</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}