@model College.Model.DataTransferObject.EmailDto.EmailUpdateModelDto
@using Microsoft.AspNetCore.Components.Forms
@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
    ViewData["Title"] = "Manage Settings  -";
}
@(await Html.PartialAsync("~/Views/Shared/_AlertLayout.cshtml"))
<div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Email Configuration</h5>
        </div>
        <div class="card-body card-block">
            <form asp-action="Manager" asp-controller="Email" method="post" asp-antiforgery="true">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                        <span>Please correct the following errors</span>
                    </div>
                </div>
                <input type="hidden" asp-for="EmailId"/>
                <input type="hidden" asp-for="IsAvailable"/>
                <input type="hidden" asp-for="IsMasterEmail"/>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                            &nbsp;&nbsp;
                            <label asp-for="Email"></label>
                        </div>
                        <input asp-for="Email" type="email" placeholder="Email Address" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-key"></i>
                            &nbsp;&nbsp;
                            <label asp-for="Password"></label>
                        </div>
                        <input asp-for="Password" type="password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-laptop"></i>
                            &nbsp;&nbsp;
                            <label asp-for="MailServer"></label>
                        </div>
                        <input asp-for="MailServer" type="text" class="form-control">
                        <span asp-validation-for="MailServer" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fas fa-hospital-o"></i>
                            &nbsp;&nbsp;
                            <label asp-for="From"></label>
                        </div>
                        <input asp-for="From" type="text" class="form-control">
                        <span asp-validation-for="From" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-cogs"></i>
                            &nbsp;&nbsp;
                            <label asp-for="SmtpPort"></label>
                        </div>
                        <input asp-for="SmtpPort" placeholder="Port Number" type="text" class="form-control">
                        <span asp-validation-for="SmtpPort" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-actions form-group">
                    <button class="btn btn-success btn-sm"><i class="fas fa-edit"></i> Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}