@{
    ViewData["Title"] = "Forget Password -";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-content--bge5">
                <div class="container">
                    <div class="login-wrap">
                        @(await Html.PartialAsync("~/Views/Shared/_AlertLayout.cshtml"))
                        <div class="login-content">
                            <div class="login-logo">
                                <img src="~/Polytechnic Institute_Dark.png">
                            </div>
                            <div class="row">
                                <div class="col-12" style="text-align:center"> <span> <h3>Forget Password </h3><p>Its easy to recover!</p></span></div>
                            </div>
                            <div class="login-form">
                                <form action="~/Auth/Forget" method="post">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                                    </div>
                                    <button class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">Request Recovery <i class="fas fa-envelope"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}