@{
    ViewBag.Title = "Reset Password -";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-content--bge5">
                <div class="container">
                    <div class="login-wrap">
                        @(await Html.PartialAsync("~/Views/Shared/_AlertLayout.cshtml"))
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="#">
                                    <img src="~/Polytechnic Institute_Dark.png">
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-12" style="text-align:center"> <span> <h3>Reset Password</h3> <p>One more step and it's all yours!</p></span></div>
                            </div>
                            <div class="login-form m-t-20">
                                <form action="~/Auth/Reset" method="post">
                                    <div class="form-group">
                                        <div class="row">
                                            <input type="hidden" name="email" value="@ViewBag.Email" />
                                            <input type="hidden" name="verificationToken" value="@ViewBag.Token" />
                                            <div class="col-12 form-group">
                                                <label>New Password</label>
                                                <input class="au-input au-input--full" type="password" name="newPassword" id="password" minlength="8" placeholder="New Password">
                                            </div>
                                            <div class="col-12 form-group">
                                                <label>Retype Password</label>
                                                <input class="au-input au-input--full" type="password" id="confirm_password" minlength="8" placeholder="Retype Password">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="au-btn au-btn--block au-btn--blue2 m-b-20" type="submit">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");
        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
}

