@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<div>
    @if (HttpContextAccessor.HttpContext.Session.GetString("Success") != null)
    {
        <div class="alert flash alert-success" role="alert">
            <b> <i class="fas fa-bullhorn"></i>&nbsp;&nbsp; Information :</b> &nbsp;&nbsp; <span> @HttpContextAccessor.HttpContext.Session.GetString("Success") </span>
        </div>
        HttpContextAccessor.HttpContext.Session.Remove("Success");
    }
    @if (HttpContextAccessor.HttpContext.Session.GetString("Warning") != null)
    {
        <div class="alert flash alert-warning" role="alert">
            <b> <i class="fas fa-bullhorn"></i>&nbsp;&nbsp; Warning :</b> &nbsp; &nbsp; <span> @HttpContextAccessor.HttpContext.Session.GetString("Warning") </span>
        </div>
        HttpContextAccessor.HttpContext.Session.Remove("Warning");
    }
    @if (HttpContextAccessor.HttpContext.Session.GetString("Error") != null)
    {
        <div class="alert flash alert-danger" role="alert">
            <b> <i class="fas fa-bullhorn"></i>&nbsp;&nbsp; Error :</b> &nbsp; &nbsp; <span> @HttpContextAccessor.HttpContext.Session.GetString("Error") </span>
        </div>
        HttpContextAccessor.HttpContext.Session.Remove("Error");
    }

</div>
