@using Microsoft.AspNetCore.Components.Forms
@model College.Model.DataTransferObject.AuthExtraDto.ResetRequestModelDto
@{
    ViewData["Title"] = "Forget Password -";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-content--bge5">
                <div class="container">
                    <div class="login-wrap">
                        @(await Html.PartialAsync("~/Views/Shared/_AlertLayout.cshtml"))
                        <div class="login-content">
                            <div class="login-logo">
                                <img src="~/Polytechnic Institute_Dark.png" style="height: auto; width: 200px;">
                            </div>
                            <div class="row">
                                <div class="col-12" style="text-align: center">
                                    <span>
                                        <h3>Forget Password </h3>
                                        <p>Its easy to recover!</p>
                                    </span>
                                </div>
                            </div>
                            <div class="login-form">
                                <form asp-controller="Reset" asp-action="ResetRequest" method="post" asp-antiforgery="true">
                                    <div asp-validation-summary="ModelOnly" class="text-danger">
                                        <span>Please correct the following errors</span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="au-input au-input--full" type="email" required/>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <button class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">Request Recovery <i class="fas fa-envelope"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}