@model College.Model.DataTransferObject.AuthExtraDto.ResetPasswordModelDto
@using College.Helpers
@using College.Model.DataTransferObject.AuthDto
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Reset Password -";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@{
    var UserInfo = HttpContextAccessor.HttpContext.Session.GetComplexData<AuthBasicDetailsModelDto>("_Details");
}

<div class="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-content--bge5">
                <div class="container">
                    <div class="login-wrap">
                        @(await Html.PartialAsync("~/Views/Shared/_AlertLayout.cshtml"))
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="#">
                                    <img src="~/Polytechnic Institute_Dark.png" style="width: 200px; height: auto;">
                                </a>
                            </div>
                            @if (UserInfo != null)
                            {
                                <div class="row mt-2 mb-2 d-flex justify-content-center">
                                    <a asp-controller="ControlPanel" asp-action="Index" class="btn btn-primary btn-md active">
                                        <i class="fas fa-arrow-left"></i> &nbsp;&nbsp; Back to Control Panel
                                    </a>
                                </div>
                            }
                            <div class="row">
                                <div class="col-12" style="text-align: center">
                                    <span>
                                        <h3>Reset Password</h3>
                                        <p>One more step and it's all yours!</p>
                                    </span>
                                </div>
                            </div>
                            <div class="login-form m-t-20">
                                <form asp-controller="Reset" asp-action="ResetPasswordResponse" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger">
                                        <span>Please correct the following errors</span>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <input type="hidden" asp-for="Email" value="@HttpContextAccessor.HttpContext.Session.GetString("_Reset")" />
                                            <div class="col-12 form-group">
                                                <label asp-for="NewPassword"></label>
                                                <input asp-for="NewPassword" minlength="8" placeholder="New Password" class="au-input au-input--full" type="password" required />
                                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="col-12 form-group">
                                                <label asp-for="ConfirmPassword"></label>
                                                <input asp-for="ConfirmPassword" minlength="8" placeholder="New Password" class="au-input au-input--full" type="password" required />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <button class="au-btn au-btn--block au-btn--blue2 m-b-20" type="submit">Reset</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

