@{
    ViewData["Title"] = "About Us -";
}

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="/images/about_bg.jpg">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>About Us</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION ABOUT -->
<div class="section small_pb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="about_img"> <img src="/images/about_img2.jpg" alt="about_img2"> </div>
            </div>
            <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="about_section pl-lg-3">
                    <div class="heading_s1">
                        <span class="sub_heading">About Us</span>
                        <h2>We're one of the best places to Explore And Learn With Fun  </h2>
                    </div>
                    <p>Shahid Bishnu Dhani Memorial Polytechnic Institute is a newly established educational institution which primarily attempts to contribute to the development of the country through the production of skilled and semi-skilled human resources. The maximum and appropriate use of natural resources depends on the availability of human resources. Although with abundant natural means and resources, Nepal is still an under-developed country owing to the paucity of human resources.</p>
                    <p>The main aim of Shahid Bishnu Dhani Memorial Polytechnic Institute is to produce skill human resources who will help develop the country by strengthening the economy of the country through the appropriate use of available means and resources. At the local level, it will also ease the access of the students coming from economically weak background to the quality technical education. At the national level, it will contribute to the overall development of the country by reducing its cost of hiring manpower from abroad. It is also believed to create job opportunities by mobilizing the stagnated idle semi-skilled and unskilled human resources.</p>
                    <p>Shahid Bishnu Dhani Memorial Polytechnic Institute ensures a disciplined academic environment for all students. The institute is located in the head-quarter of Barbardiya Municipality, Ward no. 6, Bardiya, Province no.5, Nepal. The well-furnished academic building and the administrative building of the institute are under construction. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION ABOUT -->
<!-- START SECTION WHY CHOOSE -->
<div class="section small_pt pb_70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="icon_box icon_box_style1 box_shadow1 text-center">
                    <div class="icon ibc_orange">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Admission Center</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="icon_box icon_box_style1 box_shadow1 text-center">
                    <div class="icon ibc_green">
                        <i class="fas fa-globe"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Online Training</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                <div class="icon_box icon_box_style1 box_shadow1 text-center">
                    <div class="icon ibc_pink">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Certification</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
