@{
    ViewData["Title"] = "Agriculture -";
}


<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="/images/course_bg.jpg">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Agriculture</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Academics</li>
                    <li class="breadcrumb-item active">Agriculture</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION EVENT DETAIL -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single_course">
                    <div class="course_info">
                        <div class="course_desc">
                            <div class="heading_s1">
                                <h4>Description:</h4>
                            </div>
                            <p>
                                Agriculture is the backbone of our country's economy. A large number of population of Nepal depends on agriculture for their survival. Agriculture has been at the center of human civilization since civilization began, and it remains at the heart of many of the most pressing issues for modern societies. In the context of Nepal, although most of the people are dependent on agriculture, it lacks educated and qualified people working in this field. And this is one of the main causes of poor agricultural results in our country.
                            </p>
                            <p>
                                There is need of skilled manpower with technical knowledge and higher degrees in the agriculture sector. Agriculture intersects with several fields like poverty, famine, development economics, genetic modification, environmental sustainability, disease epidemics, and agricultural scholars are involved in research and development work in all these fields.
                            </p>
                            <p>
                                Careers in agriculture can make up one of the largest industries and sources of long-term employment in Nepal. Scholars perusing agriculture have ample job opportunities in the government as well as private sector. The degree Diploma in Agriculture equips students with the knowledge and skills that will help them to conduct simple research works in agricultural field, conduct field surveys and manage different areas of farming practices.
                            </p>
                            <p>
                                A degree in agriculture gives the students the knowledge and skills needed to manage agricultural and farm businesses, or to work in areas such as agricultural sales, food production and farming. Moreover, an individual with higher degree in this field can work as an agricultural consultant, estates manager, farm manager, plant breeder/geneticist, soil scientist, rural practice surveyor and so on.
                            </p>
                        </div>
                        <div class="course_curriculum">
                            <div class="heading_s1">
                                <h4>Course curriculum for Agriculture:</h4>
                            </div>
                            <p>
                                The course will make students understand the various aspects of agriculture science and enrich skills in using modern equipment, tools and techniques associated with agriculture. Moreover, it will motivate students for involving them in lifelong agricultural practices and further study and research in this field, and linking agriculture with economic development of the country.
                            </p>
                            <p>
                                The institute offers the following courses under Diploma in Agriculture:
                            </p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <object class="embed-responsive-item" data="~/documents/2019-09-29_Diploma-in-Forestry-Revised-2019.pdf" type="application/pdf" internalinstanceid="9" title="2019-09-29_Diploma-in-Forestry-Revised-2019.pdf">
                                    <p>
                                        Your browser isn't supporting embedded pdf files. You can download the file
                                        <a href="~/documents/2019-09-29_Diploma-in-Forestry-Revised-2019.pdf">here</a>.
                                    </p>
                                </object>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION EVENT DETAIL -->
