@{
    ViewData["Title"] = "Staffs And Faculties -";
}
<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light" data-img-src="/images/teacher_bg.jpg">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Staff and Faculties</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Staff And Faculties</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION TEAM -->
<div class="section pb_70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="team_box team_style2 radius_all_10">
                    <div class="team_img">
                        <img src="\images\team_img1.jpg" alt="team_img1">
                        <ul class="social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Anders Stone</h5>
                            <span>Professor</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="team_box team_style2 radius_all_10">
                    <div class="team_img">
                        <img src="\images\team_img2.jpg" alt="team_img2">
                        <ul class="social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Laura Martin</h5>
                            <span>Accounting</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                <div class="team_box team_style2 radius_all_10">
                    <div class="team_img">
                        <img src="\images\team_img3.jpg" alt="team_img3">
                        <ul class="social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Adam Smith</h5>
                            <span>Ceo & Architer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                <div class="team_box team_style2 radius_all_10">
                    <div class="team_img">
                        <img src="\images\team_img4.jpg" alt="team_img4">
                        <ul class="social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Bruce Flores</h5>
                            <span>Accounting</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="team_box team_style2 radius_all_10">
                    <div class="team_img">
                        <img src="\images\team_img5.jpg" alt="team_img5">
                        <ul class="social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Rachael Henry</h5>
                            <span>English Teacher</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                <div class="team_box team_style2 radius_all_10">
                    <div class="team_img">
                        <img src="\images\team_img6.jpg" alt="team_img6">
                        <ul class="social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Bradford Smith</h5>
                            <span>English Teacher</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                <div class="team_box team_style2 radius_all_10">
                    <div class="team_img">
                        <img src="\images\team_img7.jpg" alt="team_img7">
                        <ul class="social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Kally Brooks</h5>
                            <span>Chemistry Teacher</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                <div class="team_box team_style2 radius_all_10">
                    <div class="team_img">
                        <img src="\images\team_img8.jpg" alt="team_img8">
                        <ul class="social_icons social_white">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_content">
                        <div class="team_title">
                            <h5>Helena Glick</h5>
                            <span>Computer Teacher</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION TEAM -->
