@using System.Text
@using System.Net
@using College.Helpers
@using College.Model.DataTransferObject.FrontEndOtherDto
@using College.Model.DataTransferObject.PageDto
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Gallery -";
    string pageName = @ViewContext.RouteData.Values["action"].ToString();
    string baseUrl = Url.ActionContext.HttpContext.Request.Scheme + "://" + Url.ActionContext.HttpContext.Request.Host;
}
@{
    var LayoutModel = HttpContextAccessor.HttpContext.Session.GetComplexData<LayoutModelDto>("_Layout");
    var GalleryModel = HttpContextAccessor.HttpContext.Session.GetComplexData<PageModelDto>("_Gallery");
}
<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section background_bg overlay_bg_50 page_title_light">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title">
                    <h1>Gallery</h1>
                </div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Gallery</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START SECTION BLOG -->
<div class="section pb_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="grid_container gutter_medium grid_col3">
                    <li class="grid_item brands border-danger border-2">
                        <h3 class="text-center text-primary">Andray madona</h3>
                        <div class="image_gallery_item">
                            <a href="codeappstore.com">
                                <div class="gallery_img">
                                    <img src="~/images/course_img.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="fa fa-folder"></i>
                                </div>
                            </a>
                            <p class="text-right text-success">Romani Malodra</p>
                        </div>
                    </li>
                    <li class="grid_item brands border-danger border-2">
                        <h3 class="text-center text-primary">Andray madona</h3>
                        <div class="image_gallery_item">
                            <a href="codeappstore.com">
                                <div class="gallery_img">
                                    <img src="~/images/course_img.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="fa fa-folder"></i>
                                </div>
                            </a>
                            <p class="text-right text-success">Romani Malodra</p>
                        </div>
                    </li>
                    <li class="grid_item brands border-danger border-2">
                        <h3 class="text-center text-primary">Andray madona</h3>
                        <div class="image_gallery_item">
                            <a href="codeappstore.com">
                                <div class="gallery_img">
                                    <img src="~/images/course_img.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="fa fa-folder"></i>
                                </div>
                            </a>
                            <p class="text-right text-success">Romani Malodra</p>
                        </div>
                    </li>
                    <li class="grid_item brands border-danger border-2">
                        <h3 class="text-center text-primary">Andray madona</h3>
                        <div class="image_gallery_item">
                            <a href="codeappstore.com">
                                <div class="gallery_img">
                                    <img src="~/images/course_img.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="fa fa-folder"></i>
                                </div>
                            </a>
                            <p class="text-right text-success">Romani Malodra</p>
                        </div>
                    </li>
                    <li class="grid_item brands border-danger border-2">
                        <h3 class="text-center text-primary">Andray madona</h3>
                        <div class="image_gallery_item">
                            <a href="codeappstore.com">
                                <div class="gallery_img">
                                    <img src="~/images/course_img.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="fa fa-folder"></i>
                                </div>
                            </a>
                            <p class="text-right text-success">Romani Malodra</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION BLOG -->